body {
	background-color: rgb(20, 175, 241); 
}

nav {
	height:20px;
	width: 30px;
}

a {
	color: black;
}


li {
	list-style-type: none
}

ul {
	padding-left: 0;
}

h3 {
	margin-top: 1px;
}

.btn {
	border-radius: 3px;
}


.name {
	padding: 0;
}
